<section>
  <div class="grid grid-cols-4 rounded-md bg-slate-50 max-md:grid-cols-1">
    <div class="grid items-center content-center grid-cols-1 col-span-1 p-2">
      <div class="mx-auto overflow-hidden">
        <div class="flex items-center content-center w-40 h-40 rounded-full">
          <p-avatar
            image="https://primefaces.org/cdn/primeng/images/demo/avatar/amyelsner.png"
            size="xlarge"
            shape="circle"
          ></p-avatar>
        </div>
      </div>
    </div>
    <div class="h-48 col-span-3 p-5"></div>
  </div>
</section>
