<div class="grid grid-cols-12">
  <div
    class="relative items-center content-center col-span-1 gap-4 xss:col-span-2"
  >
    <!-- Dropdown trigger button -->
    <button
      class="w-12 h-12 p-2 text-center transition-colors bg-transparent border-0 rounded-full cursor-pointer hover:bg-slate-400"
      (click)="toggleMenu()"
      aria-label="Menu"
    >
      <span class="text-3xl font-extrabold text-[#44474E]">⋮</span>
    </button>
    <!-- Custom dropdown menu -->
    @if (isMenuOpen && items) {
    <div
      class="absolute z-50 w-56 mt-1 origin-top-left bg-white rounded shadow-xl ltr:left-0 rtl:right-0 ring-1 ring-black ring-opacity-5 focus:outline-none"
    >
      <div class="py-1.5 text-xl">
        @for (item of items; track $index) {
        <a
          [routerLink]="item.routeLink"
          routerLinkActive="text-slate-50 bg-[#012A5B] rounded-none"
          class="flex my-2 items-center px-4 py-2 text-sm font-medium text-gray-900 rounded-lg no-underline transition-colors duration-100 cursor-pointer hover:text-[#FFFFFF] hover:bg-[#012A5B]"
          (click)="toggleMenu()"
        >
          <mat-icon>{{ item.icon }}</mat-icon>
          <span class="mx-2 truncate">{{ item.label }}</span>
        </a>
        }
      </div>
    </div>
    }
  </div>

  <div
    class="items-center content-center col-span-11 text-slate-50 rounded-xl xss:overflow-x-clip xss:col-span-10 text-nowrap"
  >
    <app-breadcrumb-menu />
  </div>
</div>
