<section>
  <p-card header="Student Attendance" class="shadow-lg rounded-xl">
    @defer (when attend) {
    <p-table
      #dt1
      [value]="attend"
      dataKey="studentID"
      styleClass="p-datatable-striped text-center force-ltr-paginator"
      [rows]="10"
      [rowsPerPageOptions]="[10, 20, 30, 40, 50, 60]"
      [loading]="loading"
      [paginator]="baginator"
      [globalFilterFields]="[
        'firstName',
        'secondName',
        'thirdName',
        'fourthName',
        'nationalId'
      ]"
      class="min-w-full"
      styleClass="p-datatable-striped text-center"
      tableStyleClass="p-datatable-striped text-center"
      [tableStyle]="{
        'background-color': '#dedc',
        'border-radius': '15px !important'
      }"
    >
      <ng-template #caption>
        <div
          class="flex w-full max-sm:grid max-sm:grid-cols-1 max-sm:text-xs xss:gap-2 max-[430px]:grid max-[430px]:text-xs max-[430px]:grid-cols-1 max-[430px]:gap-2"
        >
          <p-button
            class="text-xs text-nowrap"
            [label]="'Clear' | transloco"
            [outlined]="false"
            icon="pi pi-filter-slash"
            (click)="clear(dt1)"
          />
          <p-iconField class="ml-auto rtl:ms-auto">
            <p-inputIcon>
              <i class="pi pi-search"></i>
            </p-inputIcon>
            <input
              pInputText
              type="text"
              (input)="dt1.filterGlobal($any($event.target).value, 'contains')"
              [placeholder]="'SearchStudent' | transloco"
            />
          </p-iconField>
        </div>
      </ng-template>

      <ng-template pTemplate="header">
        <tr
          class="text-center"
          style="
            background-color: #334155 !important;
            text-align: center !important;
          "
        >
          <th style="min-width: 8rem">
            <div class="flex items-center">
              {{ "fullname" | transloco }}
              <p-columnFilter
                type="text"
                field="firstName"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 10rem">
            <div class="flex items-center">
              {{ "NationalID" | transloco }}
              <p-columnFilter
                type="text"
                field="nationalId"
                display="menu"
              ></p-columnFilter>
            </div>
          </th>
          <th style="min-width: 12rem">
            <div class="flex items-center">attend in</div>
          </th>
          <th style="min-width: 12rem">
            <div class="flex items-center">attend out</div>
          </th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-student>
        <tr class="px-2 text-center">
          <td>
            {{ student.firstName }} {{ student.secondName }}
            {{ student.thirdName }} {{ student.fourthName }}
          </td>
          <td>
            <a
              [routerLink]="[
                '/Admin/Students/student-details',
                student.newStudentId
              ]"
            >
              {{ student.nationalId }}
            </a>
          </td>
          <td>
            <i
              class="pi"
              [ngClass]="{
                'text-green-500 pi-check-circle': student.in,
                'text-red-500 pi-times-circle': !student.in
              }"
            ></i>
          </td>
          <td>
            <i
              class="pi"
              [ngClass]="{
                'text-green-500 pi-check-circle': student.out,
                'text-red-500 pi-times-circle': !student.out
              }"
            ></i>
          </td>
        </tr>
      </ng-template>

      <ng-template pTemplate="emptymessage">
        <tr>
          <td colspan="14" class="text-center Dancing">
            {{ "NoStudentsFound" | transloco }}
          </td>
        </tr>
      </ng-template>
    </p-table>
    }@placeholder {
    <div class="text-center text-gray-500 Dancing">
      {{ "LoadingStudents" | transloco }}
    </div>
    }
  </p-card>
</section>
